body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Wybór domyślnej czcionki */
    background-size: cover; 
    background-position: center;
    background-image: url("zdjecieLogowanie.jpg");
  }
   /* Styl dla kontenera formularza */
   .container {
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Dodanie koloru tła z przezroczystością */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
form {
    max-width: 400px;
    padding: 0%;
    border-radius: 1px;
  }
  
  form h2 {
    text-align: center;
    color: #333;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-check-label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    padding: 0%;
  }
  
  form .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form .btn-primary:hover {
    background-color: #0056b3;
  }

  .home-link {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 500%;
    color: #333;
    text-decoration: none;
}

.home-link:hover {
    color: #f0f0f0; /* Kolor na hover */
}
  form label {

      display: block;
      margin-bottom: 15px; /* Increase the margin-bottom for more space */
      color: #555;
  }
  button[type="submit"] {
    padding: 10px 20px; /* Padding dla przycisku */
    background-color: #007bff; /* Kolor tła */
    color: #fff; /* Kolor tekstu */
    border: none; /* Brak obramowania */
    cursor: pointer; /* Zmiana kursora na wskaźnik */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Kolor tła po najechaniu */
}

.success-message {
    color: green; /* Kolor sukcesu */
    font-weight: bold; /* Pogrubienie tekstu */
}

.error-message {
    color: red; /* Kolor błędu */
    font-weight: bold; /* Pogrubienie tekstu */
}

  label[for="komentarz"] {
    display: block; /* Ustawienie jako blokowy dla label */
    margin-bottom: 5px; /* Odstęp od dołu */
    font-weight: bold; /* Pogrubienie tekstu */
}

textarea[name="komentarz"] {
    width: 100%; /* Pełna szerokość textarea */
    min-height: 100px; /* Minimalna wysokość textarea */
    resize: none; /* Wyłączenie możliwości zmiany rozmiaru */
    overflow: auto; /* Pasek przewijania w przypadku długiego tekstu */
}